// Specific CSS for your home-page
.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home_img {
  width: 50%;
  min-width: 400px;
  margin-bottom: 5px;
}

.home_wrapper {
  width: 100%;
}

.home_header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #0D4262 0%, #4CE3BF 100%);

  h2 {
    color:white;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: -20px;
  }

  span {
    color: white;
  }

  #chevron {
    position: absolute;
    bottom: 8px;
  }

  .grey {
    color: rgba(255,255,255,0.7);
    position: absolute;
    bottom: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

}

.home_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}

.home_content {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;

  h1 {
    color: #0D4262;
    margin-bottom: -2px;
    font-weight: 600;
  }

  p {
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: justify;
    color: rgb(40,40,40);
    font-weight: 300
  }

  .img {
    width: 100%;
    margin-bottom: 40px;
  }
}

.footer {
  background-color: rgb(230,230,230);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 55px;

  p {
    color: rgb(70,70,70);
    margin-right: 15px;
  }

  i {
    color: $blue;
  }

  .flex-end {
    display: flex;
  }
}
