(()=> {
location.reload()
})()

// const hours = '<%= @goal.goaltime.strftime("%H:%M") %>';
// console.log(hours);
// const html = (
// `<div class="hours">
// ${hours}
// </div>`
// );
// const goalDiv = document.querySelector('#category_<%=@goal.category.id%>');
// goalDiv.setAttribute('style', 'display: none;');
// const showDiv = goalDiv.nextElementSibling;
// showDiv.innerHTML = html;


// <p onclick="(()=>{
// const form = document.querySelector('#category_form_<%#=@goal.category.id%>')
// const goalDiv = document.querySelector('#category_<%#=@goal.category.id%>');
// const showDiv = goalDiv.nextElementSibling;
// form.setAttribute('method', 'patch')
// showDiv.innerHTML = '';
// goalDiv.setAttribute('style', 'display: unset !important;');
// })()"> edit </p>
