<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
  <div class="my-5">
    <div class="media d-flex align-items-center bg-primary"><%= image_tag "cadence_landing_v2.png", alt: "logo", align:"center", class: "img" %>
    </div>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item active">
      <a href="dashboard" class="nav-link text-white my-1 mt-2">
                <i class="fa fa-th-large mr-3 text-white fa-fw"></i>
                Dashboard
            </a>
    </li>
    <li class="nav-item mb-2">
      <a href="events" class="nav-link text-white my-1 mt-2">
                <i class="far fa-calendar-alt mr-3 text-white fa-fw"></i>
                Calendar
            </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link text-white my-1 mt-2">
                <i class="fas fa-chart-pie mr-3 text-white fa-fw"></i>
                Categories
            </a>
    </li>
    <li class="nav-item mb-2">
      <a href="profile" class="nav-link text-white my-1 mt-2">
                <i class="fas fa-cog mr-3 text-text-white fa-fw"></i>
                Settings
            </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
