<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
  <div class="my-5">
    <div class="media d-flex align-items-center bg-primary"><%= image_tag "cadence_landing_v2.png", alt: "logo", align:"center", class: "img" %>
    </div>
  </div>

  <ul class="nav flex-column mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                About
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Services
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Gallery
            </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
