<div class="top-bar">
<div class="search-bar">
  <i class="far fa-search"></i><p>Search</p>
</div>
<div class="flex-end">
  <p class="text-white">Notifactions</p>
  <p class="text-white">Your Profile</p>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <button class="btn btn-third">Log Out</button>
  <% end %>
</div>
</div>
