<div class="top-bar">
  <div class="search-bar">
    <i class="far fa-search"></i>
    <p>Search</p>
  </div>
  <div class="flex-end">
    <p class="text-white">Notifications</p>
    <p class="text-white">Help</p>
    <p class="text-white">Contact us</p>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <button class="btn btn-third" style="box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.08); margin-left: 10px;">Log Out</button>
    <% end %>
  </div>
</div>
