<!-- <div class="page-content p-5" id="content"> -->
<div class="home_wrapper">
  <div class="home_header">
    <h2>Welcome to</h2>
    <div class="logo">
     <%= image_tag "cadence_landing_v2.png", alt: "logo", align:"center", class: "home_img" %>
    </div>
    <div class="home_buttons">
      <a href="users/sign_in" class="btn btn-primary">Login</a>
      <span>or</span>
      <a href="users/sign_up" class="btn btn-primary btn-alternate">Sign up</a>
    </div>
    <span class="grey animate__animated animate__fadeIn animate__delay-3s">Discover how Cadence can help you control the rhythms of your life</span>
    <i id="chevron" class="fal fa-chevron-down fa-2x animate__animated animate__fadeIn animate__delay-4s grey"></i>
  </div>
  <div class="home_content">
    <%= image_tag "social-media.jpg", alt: "header for social media", align: "center", class: "img hidden" %>
    <!-- section 1 -->
    <div class="card1">
      <h1>Time is money. Right?</h1>
      <p>We’ve all heard that famous saying but at Cadence we believe time is even more valuable that money. Time cannot be gained or lost, it can only be spent. So spend it well! We can help you do that by treating time just like the money in your bank account.</p>
    </div>
    <%= image_tag "cheat.png", alt: "screenshot of app", align:"center", class: "img" %>
    <!-- section 2 -->
    <div class="card1">
      <h1>Time.</h1>
      <h1>Made easy.</h1>
      <p>We all have 24 hours in a day, it’s how we spend it that counts. Cadence helps you reach your goals by giving you a deeper understanding into your habits and activities that make up each day.</p>

    </div>
    <div class="card2" id="g1">
      <h5>Step 1</h5>
      <div class="card2_flex">
      <i class="fal fa-user-plus"></i>
      <h4 class="text-center">Sign up with your email address</h4>
    </div>
    </div>
    <div class="card2" id="g2">
      <h5>Step 2</h5>
      <div class="card2_flex">
      <i class="fal fa-sliders-h"></i>
      <h4 class="text-center">Set your unavailable hours</h4>
    </div>
    </div>
    <div class="card2" id="g3">
      <h5>Step 3</h5>
      <div class="card2_flex">
      <i class="fal fa-bullseye-arrow"></i>
      <h4 class="text-center">Tell us your goals!</h4>
    </div>
    </div>
    <div class="card2" id="g4">
      <h5>Step 4</h5>
      <div class="card2_flex">
      <i class="fal fa-calendar-plus"></i>
      <h4 class="text-center">Add your activities into the calendar</h4>
    </div>
    </div>
    <div class="card2" id="g5">
      <h5>Step 5</h5>
      <div class="card2_flex">
      <i class="fal fa-chart-pie"></i>
      <h4 class="text-center">Check out your brand new dashboard!</h4>
    </div>
    </div>
    <div class="card2" id="g6">
      <h5>Done!</h5>
      <div class="card2_flex">
      <i class="fal fa-check"></i>
      <h4 class="text-center">It really is that simple!</h4>
    </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>Made with <i class="fas fa-heart"></i> by Victoire De Gonneville, Bruno Pires and Tom Whittle</p>
  <div class="flex-end">
  <p>FAQs</p>
  <p>Contact us</p>
  </div>
</div>
<!-- </div> -->
