<!-- <div class="page-content p-5" id="content"> -->
<div class="home_wrapper">
  <div class="home_header">
    <h2>Welcome to</h2>
    <div class="logo">
     <%= image_tag "cadence_landing_v2.png", alt: "logo", align:"center", class: "home_img" %>
    </div>
    <div class="home_buttons">
      <button class="btn btn-primary">Login</button>
      <span>or</span>
      <button class="btn btn-primary btn-alternate">Sign up</button>
    </div>
      <span class="grey animate__animated animate__fadeIn animate__delay-3s">Discover how Cadence can help you control the rythms of your life</span>
      <i id="chevron" class="fal fa-chevron-down fa-2x animate__animated animate__fadeIn animate__delay-4s grey"></i>
  </div>
</div>
<!-- </div> -->
