<div class="logo">
 <%= image_tag "cadence-logo", alt: "logo", align:"center", width: 500, class: "img" %>
 <h2> Start managing your time </h2>
 <p> Cadence is helping you managing your time with a very good calendar. The app is very intuitive and easy to use </p>
</div>

