.btn-primary {
  color: white;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-alternate {
  background-color: white;
  border-color: white;
  color: $blue;
}

.btn-alternate:hover {
  background-color: rgb(238,238,238);
  border-color: rgb(238,238,238);
  color: $blue;
}

.btn-third {
  color: white;
  border-radius: 300px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #0D4262;
}

.btn-third:hover {
  color: rgb(238,238,238);
  border-radius: 300px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #0D4262;
}
