.vertical-nav {
  min-width: 16rem;
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;

  .img {
    width: 123%;
    margin-top: 30px;
    padding: 20px;
    margin-left: -30px;
    margin-bottom: 22px;
  }
}

.wrapper {
  border-radius: 30px;
  background-color: rgba(255,255,255,0.95);
  min-height: 91.5vh;
  padding: 30px 50px;
  width: 100%;
  max-height: 91.5vh;
  box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.08);

  h1 {
    color: #0B3954;
  }
}

.page-content {
  width: calc(100% - 17.5rem);
  margin-left: 16rem;
}


/* for toggle behavior */

#sidebar.active {
  margin-left: -16rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

#sidebar {
  li {
    font-size: 1.3rem;
  }
  i {
    font-size: 1.4rem;
  }
  .active {
    background-color: #0B3954;
    box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.14);
  }

  svg {
    margin-left: 2px;
    margin-right: 19px;
    margin-top: -5px;
  }

  ion-icon {
    margin-right: 19px;
    position: relative;
    top: 3px;
    left: 2px;
    font-size: 1.45rem;
  }

  .larger {
      font-size: 1.6rem;
      top: 4px;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -16rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 16rem;
    width: calc(100% - 16rem);
  }
}
