.vertical-nav {
  min-width: 16rem;
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $blue;

  .img {
    width: 123%;
    margin-top: 50px;
    padding: 20px;
    margin-left: -30px;
  }
}

.wrapper {
  border-radius: 30px;
  background-color: white;
  min-height: 90vh;
  padding: 30px;
  width: 100%;
}

.page-content {
  width: calc(100% - 18.5rem);
  margin-left: 16rem;
}


/* for toggle behavior */

#sidebar.active {
  margin-left: -16rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

#sidebar {
  li {
    font-size: 1.3rem;
  }
  i {
    font-size: 1.4rem;
  }
  .active {
    background-color: #0B3954;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -16rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 16rem;
    width: calc(100% - 16rem);
  }
}
