// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "simple_calendar";
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $blue;
}

p {
  margin-bottom: 0px;
}
