// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "simple_calendar";
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(45deg, #0D4262 0%, #4CE3BF 100%);
  background-size: 100% 105%;
  background-repeat: no-repeat;
  min-height: 100%;
}

p {
  margin-bottom: 0px;
}
